[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stepav
[access "refs/for/refs/*"]
	read = group user/Stepav
	push = group user/Stepav
	label-Code-Review = -2..+2 group user/Stepav
	label-Verified = -1..+1 group user/Stepav
	rebase = group user/Stepav
	removeReviewer = group user/Stepav
	submit = group user/Stepav
[access "refs/heads/*"]
	read = group user/Stepav
	create = group user/Stepav
	push = +force group user/Stepav
	pushMerge = group user/Stepav
[access "refs/tags/*"]
	push = group user/Stepav
	push = +force group user/Stepav
